<!DOCTYPE html>
<html ng-app="verax" lang="ru">
<head>
    <title></title>
    <meta name="Description" content="">
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/textAngular.css" type="text/css" />
    <link rel="stylesheet" href="css/angular-material.min.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
</head>
<body ng-cloak>


<div id="root-content" layout="row" style="height: 100%;" md-theme="{{$siteTheme}}" md-theme-watch ng-controller="globalCtrl">

    <!--левый сайдбар-->
    <md-sidenav layout-fill layout="column" flex md-is-locked-open="true" class="md-sidenav-left md-whiteframe-z4" md-component-id="left" >
        <md-toolbar md-medium-tall class="md-warn md-whiteframe-z3">
            <div class="md-toolbar-tools">
                <a href="" ng-click="go('/on/start')">
                    {{$siteName}}
                </a>
            </div>
        </md-toolbar>
        <div flex class="md-padding">
            <ng-include autoscroll src="mainRouteContentPartial"></ng-include>
        </div>

        <md-button class="md-raised md-warn" ng-click="toggleRightSidebar()"><i class="fa fa-bars"></i></md-button>
    </md-sidenav>


    <div flex layout="column">

        <!--верхний тулбар-->
        <md-toolbar md-medium-tall class="md-whiteframe-z2">
            <div class="md-toolbar-tools">
                <a href="" ng-click="go  ('/on/start')">
                    {{$siteLongName}}
                </a>
                <span flex><md-button class="md-accent" ng-click="go('/on/start')">{{breadCrumbs}}</md-button></span>
                <md-button ng-if="user.role === 0" class="md-title md-success" ng-click="go('/admin/start')"><i class="fa fa-wrench md-title"></i></md-button>
                <a href="" class="md-title" ng-click="toggleRightSidebar()"><i class="fa {{user.authenticated ? 'fa-user' : 'fa-user-plus'}} md-title"> </i> {{user.authenticated ? user.name || user.email : 'Войти'}}</a>
            </div>
        </md-toolbar>


        <!--правый сайдбар-->
        <md-sidenav layout="column" flex class="md-sidenav-right md-whiteframe-z3" md-component-id="right">
            <md-toolbar class="">
                <span class="md-toolbar-tools">
                    {{user.authenticated ? 'Личные данные' : 'Войти или зарегистрироваться'}}
                    <span flex></span>
                    <md-button class="md-accent" ng-click="toggleRightSidebar()"><i class="fa fa-times md-title"></i></md-button>
                </span>
            </md-toolbar>
            <ng-include src="user.authenticated ? 'app/auth/client-data.html' : 'app/auth/signup.html'"></ng-include>
        </md-sidenav>

        <div flex layout="column" ng-view="" id="ng-view"></div>

    </div>
</div>

<!-- Libraries -->
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-aria.min.js"></script>
<script src="js/angular-material.min.js"></script>
<script src="js/textAngular-rangy.min.js"></script>
<script src="js/textAngular-sanitize.min.js"></script>
<script src="js/textAngular.min.js"></script>
<script src="js/toaster.js"></script>
<script src="js/jquery.noty.packaged.js"></script>


  <!-- AngularJS custom codes -->
<script src="app/app.js"></script>
<script src="app/data.js"></script>
<script src="app/globalController.js"></script>
<script src="app/globalDirectives.js"></script>
<script src="app/veraxRoutesController.js"></script>
<script src="app/auth/authCtrl.js"></script>
<script src="app/admin/adminSectionControllers.js"></script>
<script src="app/on/clientMainCtrl.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>