<md-dialog style="max-height: 90%" md-theme="{{theme}}" flex="90">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex>{{title}}</span>
            <md-button class="md-success" ng-click="closeDialog(); disableBlur();"><i class="fa fa-times-circle md-headline"></i></md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div text-angular ng-model="content"></div>
        <div><pre>{{content}}</pre></div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-success" ng-click=""><i class="fa fa-pencil-square-o md-headline"></i></md-button>
        <md-button class="md-success" ng-click="closeDialog();"><i class="fa fa-times-circle-o md-headline"></i></md-button>
    </div>
</md-dialog>